/**stylesheet**/

h3 {
    font-size: 22px;
    color: hsl(240,50%,50%);
    font-family: "Arial", "Verdana", cursive;
    background-color: black;
}

.ingredients li{
    font-size: 20px;
    font-family: cursive;
    color: red;
    
}

.ingredients.fettucine li{
    display: inline;
}

#fried_rice_steps {
    color: yellow;
    background-color: tomato;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
   padding: 10px;
   background-color: beige; 
   border: 5px solid black;
   text-align: center;
}

.source-div{
    text-align: center;
}

.container {
    text-align: center;
    /**div containers are default blocks**/
}

.source {
    padding: 20px;
    
    color: black;
    border: 5px dotted salmon;
    display: inline-block;
    text-align: center;
    
}